pip install sounddevice
install pyaudio 1)brew install portaudio 2)pip install pyaudio
pip install google-cloud-speech
pip install speechrecognition
pip install scipy
pip install sounddevice
Create new virtual environmnet 1) python3 -m venv myenv 2) source myenv/bin/activate 3)pip install --upgrade pip
pip install setuptools
pip install distutils
pip install setuptools pyaudio google-cloud-speech speechrecognition sounddevice scipy numpy

pip install snowboy-detect
